body{
    background-color: rgb(243, 203, 240);
}

h1{
    color:rgb(112, 14, 12);
    text-align: center;
}

h3{
    color:rgba(117, 34, 196, 0.911);
}

h2{
    text-align: right;
}

h4{
    color: fuchsia;
}

.referencias{
    text-align: left;
}