/**{
    margin: 0;
    padding: 0;
}*/

.a{
    list-style-type: circle;
}

.b{
    list-style-type: upper-roman;
}

.c{
    list-style-type: square;
}

.d{
    list-style-type: lower-alpha;
}

.e{
    list-style-image: url(../img/smart.png);
}

.f{
    list-style-position: inside;
}