*{
    margin: 0;
    padding: 0;
}

.caja{
    width: 30%;
    height: 200vh;
    background: linear-gradient(rgb(24, 180, 24), rgb(22, 22, 238));
    position: relative;
}

.caja > div{
    width: 10%;
    height: 5vh;
    background-color: beige;
}

/* Permite mover de posición un elemento (no respeta la posición original del elemento)*/
.caja1{
    position: absolute;
    right: 30px;
}

/* Position Relative (Sigue respetando la posición original del elemento)*/
.caja2{
    position: relative;
    left: 60px;
}

/* Position Fixed deja fijo el elemento */
.caja3{
    position: fixed;
    top: 5px;
}

.caja > img{
    width: 150px;
}

.rana{
    position: relative;
    left: 140px;
    top: 50px;
    z-index: 1;
}

.hoja{
    position: absolute;
    z-index: 2;
}

.wa{
    width: 100px;
    position: fixed;
    bottom: 100px;
}

/* .caja4 img{
    width: 300%;
    float: left;
} */

.paisaje{
    width: 300%;
    float: left;
}